%nav
  %ul
    %li
      %a=link_to(t("nav.main_page"), "/#{I18n.locale}")
    %li
      %a=link_to(t("nav.calendar"), translated_url(I18n.locale, "calendar")) #- this one needs translate because has different url for various langs
    %li
      %a=link_to("Portfolio", "/#{I18n.locale}/portfolio")
    %li
      %a=link_to("F.A.Q.", "/#{I18n.locale}/faq")
