%nav
  %ul
    %li
      %a=link_to("Strona główna", "/")
    %li
      %a=link_to("Kalendarz", "/calendar")
    %li
      %a=link_to("portfolio", "/portfolio")
    %li
      %a=link_to("F.A.Q.", "faq")
