!!!
%html{'lang' => I18n.locale}
  =partial(:'layouts/main/head')
  %body
    = partial(:'layouts/main/nav')
    %main.mdl-layout__content
      .page-content
        %header
          %h1
            -if current_page.data.dont_translate_header?
              =current_page.data.header
            -else
              =t(current_page.data.header)
        %article
          = yield
        = partial(:'layouts/main/footer')
    = partial(:'layouts/main/javascript_includes')
