!!!
%html{'lang' => I18n.locale}
  =partial(:'layouts/partials/head')
  %body
    = partial(:'layouts/partials/nav')
    %main.mdl-layout__content
      .page-content
        = yield
    = partial(:'layouts/partials/footer')
    = partial(:'layouts/partials/javascript_includes')
