%h2
  %center F.A.Q.
%ul.faq-list
  -faq_list.each do |item|
    %li
      %ul.faq-item
        %li.question=item.question
        %li.answer=item.answer
        -if item.link
          %li=link_to(item.link.info, item.link.address, target: "_blank")
      %hr
