%footer
  %ul
    %h5
      %li
        .socialmedia-link=link_to("Facebook",
          "http://facebook.com/montazownia",
          target: "_blank")
    %h5
      %li
        .socialmedia-link=link_to("Instagram",
          "http://instagram.com/montazownia",
          target: "_blank")
