%ul
  %li
    .socialmedia-link=link_to("Facebook",
      "http://facebook.com/montazownia",
      target: "_blank")
  %li
    .socialmedia-link=link_to("Instagram",
      "http://instagram.com/montazownia",
      target: "_blank")
