@import "variables";

.contact {
  margin-bottom: 6em;

  &__element {
    display: flex;
    align-items: center;
  }

  &__social-icons {
    padding: 5px 10px;
  }

  img.contact__social-icons {
    height: 23px;
  }
}

#calendar {
  margin: auto;
}

.fc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc .fc-toolbar>*>* {
  margin-left: 0;
  border-radius: 0;
  background: white;
  box-shadow: none;
  border: none;
  &:hover {
    background: rgba(0,0,0,0.1);
  }
}

.fc .fc-toolbar > .fc-center > h2:hover {
  background: transparent;
}

.fc-left {
  cursor: default;
  color: black;
  h2 {
    text-transform: capitalize;
    font-size: 2em;
  }
  @media (max-width: 425px) {
    h2 {
      font-size: 1.9em;
    }
  }
}

.fc-unthemed td.fc-today {
  background: rgba(0,0,0,0.1);
}

.fc-day-header {
  color: black;
  text-transform: capitalize;
}

.fc-unthemed .fc-content {
  white-space: normal;
}

.fc-bg td {
  background-color: #f3f3f3;
}

.fc-bg td.day--busy {
  background-color: $page-primary;
}
