@import "variables";

.contact {

  &-wrapper {
    margin-bottom: 6em;
  }

  &__info {
    flex-basis: 50%;

    &__element {
      display: flex;
      align-items: center;
    }

    &__social-icons {
      padding: 5px 10px;
      @media only screen and (max-width: $tablet) {
      padding-left: 0;
    }
    }
  }

  &__map {
    border: 4px solid $page-secondary;
    flex-basis: calc(50% - 8px);
    height: 300px;
    @media only screen and (max-width: $tablet) {
      flex-basis: 100%;
      margin-top: 2em;
    }
  }
}

img.contact__info__social-icons {
  height: 23px;
}

.legend {
  margin-bottom: 2em;

  &__color {
    display:flex;
    @media only screen and (max-width: $tablet) {
      flex-wrap: wrap;
    }
    &__el {
      margin-left: 1em;
      margin-right: 1em;
      @media only screen and (max-width: $tablet) {
        width: 100%;
        margin-bottom: 0.2em;
      }

      &__icon {
        margin-right: 0.8em;
        height: 20px;
        width: 30px;
        border: 2px solid $page-secondary;
        border-radius: 5px;

        &--free {
          background-color: $free-term;
        }

        &--busy {
          background-color: $busy-term
        }

        &--partially-am {
          background: linear-gradient(135deg, $free-term 50%, $partially-term 50%);
        }

        &--partially-pm {
          background: linear-gradient(135deg, $partially-term 50%, $free-term 50%);
        }
      }
    }
  }
}

#calendar {
  margin: auto;
  border: 4px solid $page-secondary;
}

#map {
  width: 100%;
  height: 100%;
}


.fc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc .fc-toolbar>*>* {
  margin-left: 0;
  border-radius: 0;
  background: white;
  box-shadow: none;
  border: none;
  &:hover {
    background: rgba(0,0,0,0.1);
  }
}

.fc .fc-toolbar > .fc-center > h2:hover {
  background: transparent;
}

.fc-left {
  order: 0;
}

.fc-center {
  cursor: default;
  color: black;
  order: 1;
  h2 {
    text-transform: capitalize;
    font-size: 2em;
  }
  @media (max-width: 425px) {
    h2 {
      font-size: 1.9em;
    }
  }
}

.fc-right {
  order: 2;
}

#calendar .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.3em;
}

.fc-unthemed td.fc-today {
  background: rgba(0,0,0,0.1);
}

.fc-day-header {
  color: black;
  text-transform: capitalize;
}

.fc-unthemed .fc-content {
  white-space: normal;
}

.fc-bg td {
  background-color: $busy-term;
}

.fc-bg td.day--free {
  background-color: $free-term;
}

.fc-bg td.day--partially {
  position: relative;
  overflow: hidden;
  .day--partially--bookmark {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-origin: bottom left;
    bottom: 0;
    background-color: $partially-term;

    &-am {
      transform-origin: bottom left;
      bottom: 0;
    }
    &-pm {
      transform-origin: top right;
      top: 0;
      right: 0;
    }
  }
}