@import "variables";

.nav-bar {
  position: fixed;
  background: #32e0dd; /* Old browsers */
  background: -moz-linear-gradient(top, #16f6ed 0%, #fff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #16f6ed 0%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #16f6ed 0%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: $default-dark;

  & &__link {
    color: $default-dark;
  }
}

.active-lang img {
  height: 23px;
  width: auto;
  padding: 0 $baseline*3;
}

.other-lang {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    padding: 0;
    padding-right: $baseline;
  }
}

.mdl-layout__obfuscator {
  position: fixed;
}