@import "variables";

.nav-bar {
  position: fixed;
  background: #32e0dd; /* Old browsers */
  background: linear-gradient(to bottom, #16f6ed 0%, rgba(250, 250, 250, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: $default-dark;

  & &__link {
    color: $default-dark;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 17px;
      margin: auto;
      height: 1px;
      width: 0;
      background-color: $default-dark;
      transition: width 0.3s ease;
    }

    &:hover:after {
      width: 75%;
    }

    &--active:after {
      width: 75%;
    }
  }

  &__title {
    font-family: 'Carolina', sans-serif;
    letter-spacing: 1px;
  }
}

.active-lang img {
  height: 23px;
  width: auto;
  padding: 0 $baseline*3;
}

.other-lang {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    padding: 0;
    padding-right: $baseline;
  }

  &--mobile img {
    height: 23px;
    width: auto;
    padding: 16px;
  }
}

.mdl-layout__obfuscator {
  position: fixed;
}