@import "variables";

.portfolio-wrapper {
  max-width: 1200px;
  padding: 0 30px;
  column-count: 5;
  column-gap: 0;
  @media screen and (max-width: 768px) {
    max-width: 600px;
    column-count: 3;
  }

  &__element {

    &:first-child {
      margin-top: 0;
    }

    margin: 10px 10px;
    transition: 0.3s transform ease;
    cursor: pointer;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: background-color 0.3s ease-in;
      background-color: transparent;
    }

    &:hover:after {
      background-color: rgba(0,0,0,0.5);
    }

    img {
      max-width: 170px;
    }
  }
}

.dialog-content {
  width: 800px;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.dialog-content + .backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog-image {
  max-width: 900px;
  max-height: 500px;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14), 0 11px 15px -7px rgba(0,0,0,.12), 0 24px 38px 3px rgba(0,0,0,.2)
}