@import "variables";

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__element {
    margin: 10px 10px;
    transition: 0.3s transform ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    @media only screen and (min-width: $mobileS) and (max-width: $tablet) {
      width: 110px;
      height: 110px;
    }
    @media only screen and (min-width: $tablet) and (max-width: $laptop) {
      width: 150px;
      height: 150px;
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: background-color 0.3s ease-in;
      background-color: transparent;
    }

    &:hover:after {
      background-color: rgba(0,0,0,0.5);
    }

    &:hover img {
      height: 400px;
      transform: rotate(15deg);
    }

    img {
      height: 350px;
      transition: height 0.3s ease-in, transform 0.3s ease-in;
      @media only screen and (min-width: $mobileS) and (max-width: $tablet) {
        height: 200px;
      }
      @media only screen and (min-width: $tablet) and (max-width: $laptop) {
        height: 280px;
      }
    }
  }
}

.dialog-content {
  width: fit-content;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%) scale(0.1,0.1);
  transition: 0.3s all ease;
  padding: 1em 2.5em;
  @media only screen and (min-width: $mobileS) and (max-width: $mobileL) {
    padding: 0;

  }
  @media only screen and (min-width: $mobileL) and (max-width: $tablet) {
    padding: 1.2em;

  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .dialog-button:active, .dialog-button:focus:not(:active) {
    background-color: inherit;
  }
}

.dialog-content + .backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog-image-container {
  position: relative;
}

.dialog-image-slider {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 100%;

  &:first-of-type {
    left: -4.5em;
    @media only screen and (min-width: $mobileS) and (max-width: $mobileL) {
      left: -2.3em;
    }
    @media only screen and (min-width: $mobileL) and (max-width: $tablet) {
      left: -3.5em;
    }
  }

  &:last-of-type {
    right: -4.5em;
    justify-content: flex-end;
    @media only screen and (min-width: $mobileS) and (max-width: $mobileL) {
      right: -2.3em;
    }
    @media only screen and (min-width: $mobileL) and (max-width: $tablet) {
      right: -3.5em;
    }
  }

  &__icon {
    color: $default-dark;
    font-size: 5em;
    cursor: pointer;
    @media only screen and (min-width: $mobileS) and (max-width: $mobileL) {
      font-size: 3em;
    }
    @media only screen and (min-width: $mobileL) and (max-width: $tablet) {
      font-size: 4em;
    }
  }
}

.dialog-image {
  max-width: 900px;
  max-height: 500px;

  @media only screen and (min-width: $mobileS) and (max-width: $mobileL) {
    max-width: 290px;
    max-height: 330px;
  }
  @media only screen and (min-width: $mobileL) and (max-width: $tablet) {
    max-width: 320px;
    max-height: 440px;
  }
}