$baseline: 7px;

//Colors
$page-primary: #16f6ed;
$page-primary--darker: #00c2bb;
$page-primary--lighter: #72ffff;
$page-secondary: #E1E1E1;
$default-light: #FFF;
$default-dark: #000;

//Calendar colors
$free-term: $page-primary--lighter;
$busy-term: #f3f3f3;
$partially-term: $page-primary--darker;

//Media
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$fourK: 2560px;

$gradient-border: linear-gradient(45deg, $page-primary--lighter 0%, $page-primary--darker 100%);;
