$baseline: 7px;

//Colors
$page-primary: #16f6ed;
$page-primary--darker: #00c2bb;
$page-primary--lighter: #72ffff;
$page-secondary: #E1E1E1;
$default-light: #FFF;
$default-dark: #000;

//Calendar colors
$free-term: $page-primary--lighter;
$busy-term: #f3f3f3;
$partially-term: $page-primary--darker;