.footer-separtor
%footer
  %section.content__container.footer__container.halign-wrapper.valign-wrapper
    = link_to 'http://facebook.com/montazownia' do
      = image_tag 'site/facebook-icon.png', class: 'footer__social-icons no-user-select'
    = link_to 'http://instagram.com/montazownia' do
      = image_tag 'site/insta-icon.png', class: 'footer__social-icons no-user-select'
