.footer-separtor
%footer
  %section.content__container.footer__container
    .footer__element
      &copy; Montażownia
    .footer__element
      = link_to 'http://facebook.com/montazownia' do
        = image_tag 'images/site/facebook-icon.png', class: 'footer__social-icons'
      = link_to 'http://instagram.com/montazownia' do
        = image_tag 'images/site/insta-icon.png', class: 'footer__social-icons'
