.mdl-layout.mdl-layout--no-desktop-drawer-button.mdl-js-layout.mdl-layout--fixed-header
  .mdl-layout__header
    .mdl-layout__header-row
      %header
        %h1
          %span.mdl-layout-title MONTAŻOWNIA TATUAŻU
      .mdl-layout-spacer
      %nav.mdl-navigation.mdl-layout--large-screen-only
        =partial("layouts/main/nav_links")
  .mdl-layout__drawer
    %header
      %h1
        %span.mdl-layout-title MONTAŻOWNIA TATUAŻU
    %nav.mdl-navigation
      =partial("layouts/main/nav_links")
