-get_navlink_sites.each do |page|
  -if page.data.id.eql? "faq"
    -if is_current_page(page)
      =get_anchor_nav(page.data.id, true)
      =get_anchor_nav("guide", false)
    -else
      =generate_nav_link(page)
      =link_to(get_navlink_title("guide"),
      page.url+"#"+get_navlink_title("guide"),
      :class=> "mdl-navigation__link nav-bar__link")
  -else
    =generate_nav_link(page)