%p
    Pielęgnacja rany (bo należy wiedzieć, że to tak naprawdę z medycznego punktu widzenia są rany) po wykonaniu tatuażu, przekłucia lub zabiegu laserowego jest kluczowym elementem sukcesu. Podczas pobytu w Montażowni każdemu powtarzamy, że tak naprawdę 50% pracy wykonujemy my, a pozostałe 50 wykonywane jest później przez osobę wychodzącą ze studia w ciągu najbliższych paru tygodni. Poniżej znajdują się linki do krótkich instrukcji, które każdemu (wraz z wlepkami, mydełkami i opatrunkami) wręczamy po wyjściu ze studia. Oprócz tego prezentujemy poniżej odpowiedzi na najbardziej frapujące pytania dotyczące pielęgnacji.
%ul
    %li
        =link_to('Pielęgnacja tatuażu', '/pl/dokumenty/po-tatuazu.pdf', target: "_blank", :class => "anchor")
    %li
        =link_to('Pielęgnacja piercingu', '/pl/dokumenty/po-piercingu.pdf', target: "_blank", :class => "anchor")
    %li
        =link_to('Pielęgnacja po usuwaniu laserowym', '/pl/dokumenty/po-laserze.pdf', target: "_blank", :class => "anchor")    