%p
    Robienie sobie tatuażu, kolczyka czy zdecydowanie się na zabieg laserowy to nie jest (z reguły) spontaniczna decyzja. Dlatego poniżej zebraliśmy dla Was najczęstsze pytania, które mogą się pojawić w głowie przed wizytą w studiu.