---
name: "calendar"
header: "sites.calendar.title"
---
%section
  %header
    %h4 tutaj znajdziecie wszystkie wolne terminy
  =content_tag :p do
    Zapraszamy do kontaktowanie się przez:
    %ul.contact-list
      %li
        %strong telefon
      %li
        %strong maila
      %li
        %strong
          -# tutaj na mobilke trzeba dodać m. przed facebook
          =link_to('fanpage na fejsie', "https://facebok.com/messages/Montazownia")
%section
  %figure
    %figcaption
      %h3 pick a date to start booking
    #calendar
