---
id: "calendar"
ordinal: "3"
header: "sites.calendar.title"
additional_stylesheets:
  - "lib/fullcalendar/fullcalendar.min"
additional_javascripts:
  - "lib/Moment/moment.min"
  - "lib/FullCalendar/fullcalendar.min"
  - "lib/FullCalendar/en-gb"
  - "lib/FullCalendar/pl"
  - "lib/FullCalendar/es"
  - "lib/gCal/gcal.min"
  - "calendar.js"
---
%section
  %header
    %h3.section__header WOLNE TERMINY
  .section__header-separotor
  .information-wrapper
    %article.contact.information-left
      %h6 Skontaktuj się z nami!
      %div.contact__element
        %i.material-icons.contact__social-icons smartphone
        %span 666-666-666
      %div.contact__element
        %i.material-icons.contact__social-icons email
        %span montazownia.tattoo@gmail.com
      %div.contact__element
        =image_tag("images/site/facebook-icon.png", class: "contact__social-icons")
        =link_to("Montażownia", "https://www.facebook.com/Montazownia/", class: "anchor")
    %article.legend.information-right
      %h6 Legenda
      .legend__color
        .legend__color__el.legend__color__el--free
        %span.legend__text__el Wolny termin
        .legend__color__el.legend__color__el--busy
        %span.legend__text__el Zajęty termin
  %figure
    #calendar
  %figure
    #map
    = partial(:'localizable/partials/map')