---
id: "calendar"
ordinal: "3"
header: "sites.calendar.title"
additional_stylesheets:
  - "lib/fullcalendar/fullcalendar.min"
additional_javascripts:
  - src: "lib/Moment/moment.min"
  - src: "lib/FullCalendar/fullcalendar.min"
  - src: "lib/FullCalendar/en-gb"
  - src: "lib/FullCalendar/pl"
  - src: "lib/FullCalendar/es"
  - src: "lib/gCal/gcal.min"
  - src: "calendar.js"
  - src: "map.js"
  - src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCc008w_NpJfOS9d5TTy9J8-4ER_FrlIKk&callback=initMap"
    async: "true"
    defer: "true"
---
%section
  %header
    %h3.section__header t("calendar.header")
  .section__header-separotor
  .mdl-grid.contact-wrapper
    %article.mdl-cell--6-col.contact__info
      %p =t("calendar.contact_with_us")
      .contact__info__element
        %i.material-icons.contact__info__social-icons smartphone
        %span +48 696-568-190 - Mikołaj
      .contact__info__element
        %i.material-icons.contact__info__social-icons store
        %span ul. Różana 6, Poznań 61-577
      .contact__info__element
        %i.material-icons.contact__info__social-icons email
        %span montazownia.tattoo@gmail.com
      .contact__info__element
        =image_tag("site/facebook-messenger.png", class: "contact__info__social-icons")
        =link_to("Montażownia", "https://m.me/Montazownia/", class: "anchor", target: "_blank")
    %figure.mdl-cell--6-col.contact__map
      #map
  %article.legend
    %h6 Legenda
    .legend__color
      .legend__color__el.legend__color__el--free
      %span.legend__text__el =t("calendar.legend.fullday")
      .legend__color__el.legend__color__el--partially
      %span.legend__text__el =t("calendar.legend.part")
      .legend__color__el.legend__color__el--busy
      %span.legend__text__el =t("calendar.legend.not")
  %figure
    #calendar