---
id: "calendar"
ordinal: "3"
header: "sites.calendar.title"
additional_stylesheets:
  - "lib/fullcalendar/fullcalendar.min"
additional_javascripts:
  - "lib/Moment/moment.min"
  - "lib/FullCalendar/fullcalendar.min"
  - "lib/gCal/gcal.min"
  - "calendar.js"
---
%section
  %header
    %h4 tutaj znajdziecie wszystkie wolne terminy
  %p
    Zapraszamy do kontaktowanie się przez:
    %ul.contact-list
      %li
        %strong telefon
      %li
        %strong maila
      %li
        %strong
          -# tutaj na mobilke trzeba dodać m. przed facebook
          =link_to('fanpage na fejsie', "https://facebok.com/messages/Montazownia")
%section
  %figure
    %figcaption
      %h3 pick a date to start booking
    #calendar
