---
name: "calendar"
---
%h1= t("calendar.title")
= partial(:'partials/calendar_iframe', :locals => {:studio => false,
  :lp_hard => true,
  :lp_soft => true,
  :tattoo_hard => true,
  :tattoo_soft => true,
  :tattoo_undefined => true,
  :private_events => true})
