---
id: "faq"
ordinal: "4"
dont_translate_header: true
header: "F.A.Q."
additional_javascripts:
  - "faq.js"
---
%section
  %header
    %h3.section__header PYTANIA I ODPOWIEDZI
  .section__header-separotor
  -get_faq_list.each do |item|
    %article.question
      %h4.question__title.showAnswer
        %i.material-icons.question__title__icon.rotateIcon add
        %strong=item.question
      %p.question__answer.answerShown
        =item.answer
        -if item.link
          %span.anchor=link_to(item.link.info, item.link.address, target: "_blank")
