---
name: "faq"
---
%h2
  F.A.Q.
%ul.faq-list
  -get_faq_list.each do |item|
    %li
      %ul.faq-item
        %li
          %h3.question=item.question
        %li.answer=item.answer
        -if item.link
          %li
            %h4=link_to(item.link.info, item.link.address, target: "_blank")
      %hr
