---
id: "faq"
ordinal: "4"
dont_translate_header: true
header: "F.A.Q."
additional_javascripts:
  - src: "faq.js"
---
=partial(:'partials/question_section', 
  :locals => {:section_id => get_navlink_title("faq"), 
  :section_header => t("faq.header"), 
  :list => get_faq_list})
=partial(:'partials/question_section', 
  :locals => {:section_id => get_navlink_title("guide"),
  :section_header => "Pielęgnacja",
  :list => get_tattoo_care_list})