---
name: "main"
---

%h1 Widzę, że chcesz ;)
%article
  %section
    %h2 Zespół
    %header Tutaj krótkie info o nas, kim jesteśmy i co robimy, plus nasze śliczne twarze
    %p tutaj dopisane już trochę bardziej szczegółowo
  %section
    %h2 Historia
    %header i znowu kilka zdań o tym jak to się zaczęło
    %p A potem jak się rozwijało
  %section
    %h2 Montaż
    %header krótki opis idei dziarania
    %p i rozwinięcie myśli
