---
id: "main"
ordinal: "1"
dont_translate_header: true
header: "Widzę, że chcesz"
---
%section#welcomescreen.home__section.welcome-wrapper.valign-wrapper
  %figure.welcome__image
    =image_tag("https://scontent-waw1-1.cdninstagram.com/t51.2885-19/s150x150/21042466_1932071607066583_7762185533819715584_a.jpg",
     :style => "height: 300px;")
  %header.welcome__text
    %h1.mdl-typography--display-2.welcome__text__title WIDZE, ZE CHCESZ
  .scroller

%section
  %header
    %h2 Zespół
    %h3
      %strong Tutaj krótkie info o nas, kim jesteśmy i co robimy
  %p tutaj dopisane już trochę bardziej szczegółowo
%section
  %header
    %h2 Historia
    %h3
      %strong i znowu kilka zdań o tym jak to się zaczęło
  %p A potem jak się rozwijało
%section
  %header
    %h2 Montaż
    %h3
      %strong krótki opis idei dziarania
  %p i rozwinięcie myśli
