---
id: "main"
ordinal: "1"
dont_translate_header: true
header: "Widzę, że chcesz"
---
%section
  %header
    %h2 Zespół
    %h3
      %strong Tutaj krótkie info o nas, kim jesteśmy i co robimy
  %p tutaj dopisane już trochę bardziej szczegółowo
%section
  %header
    %h2 Historia
    %h3
      %strong i znowu kilka zdań o tym jak to się zaczęło
  %p A potem jak się rozwijało
%section
  %header
    %h2 Montaż
    %h3
      %strong krótki opis idei dziarania
  %p i rozwinięcie myśli
