---
name: "portfolio"
dont_translate_header: true
header: "Portfolio"
---
-sitemap.resources.select{ |r| r.path.start_with?("images/portfolio") }.each do |image|
  %section
    %figure
      =image_tag(image.path.gsub('images/', ''), :class => "thumbnail", :alt => get_alt(image))
