---
name: "portfolio"
---
-# -data.img.files.each do |file|
-#   =partial(:'partials/img_item',
-#     :locals => {:main_img => "portfolio/img/#{file}",
-#     :thumbnail => "portfolio/thumbnails/#{file}"})
-sitemap.resources.select{ |r| r.path.start_with?("images/portfolio/full_size") }.each do |path|
  -image=path.path.gsub('images/', '')
  -thumbnail=image.gsub('full_size', 'thumbnails')
  -if !thumbnail.include? ".keep"
    =image_tag thumbnail, { :fullsize_path => "images/#{image}" }
