---
id: "portfolio"
ordinal: "2"
dont_translate_header: true
header: "Portfolio"
additional_javascripts:
  - src: "portfolio.js"
---
%section.portfolio
  %header
    %h3.section__header PORTFOLIO
  .section__header-separotor
  .portfolio-wrapper
    -sitemap.resources.select{ |r| r.path.start_with?("assets/images/portfolio") }.each_with_index do |image, index|
      %figure.portfolio-wrapper__element.openImage
        =image_tag(image.path.gsub('assets/images/', ''),
         :class => "thumbnail",
          :alt => get_alt(image),
          :data_index => index)

%dialog.mdl-dialog.dialog-content
  .mdl-dialog__content.halign-wrapper.valign-wrapper
    .dialog-image-container
      %img.dialog-image.dialogImg
      %span.dialog-image-slider.valign-wrapper
        %i.material-icons.dialog-image-slider__icon.prevImage keyboard_arrow_left
      %span.dialog-image-slider.valign-wrapper
        %i.material-icons.dialog-image-slider__icon.nextImage keyboard_arrow_right
  .mdl-dialog__actions.halign-wrapper.valign-wrapper
    %button.mdl-button.closeDialog{:type => "button"}=t("dialogs.close")