---
id: "portfolio"
ordinal: "2"
dont_translate_header: true
header: "Portfolio"
additional_javascripts:
  - "portfolio.js"
---
%section.portfolio
  %header
    %h3.section__header PORTFOLIO
  .section__header-separotor
  .portfolio-wrapper
    -i=0
    -sitemap.resources.select{ |r| r.path.start_with?("images/portfolio") }.each do |image|
      %figure.portfolio-wrapper__element.openImage
        =image_tag(image.path.gsub('images/', ''),
         :class => "thumbnail",
          :alt => get_alt(image),
          :data_index => :i)
        -i+=1

%dialog.mdl-dialog.dialog-content
  .mdl-dialog__content.centered-wrapper
    %img.dialog-image.dialogImg
  .mdl-dialog__actions.centered-wrapper
    %button.mdl-button.closeDialog{:type => "button"}=t("dialogs.close")